/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: white;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 16px;
  margin-top: 10px;
  color: white;
}

h4{
  font-size: 14px;
  color: white;
}

a{
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  color: #7a7d81
}

li{
  list-style: none;
}

img{
  width: 100%;
}

i{
  cursor: pointer;
}

.container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.line{
  position: relative;
  height: 5px;
  background-color: #5a5a5a;
  border-radius: 50px;
}

.line-white{
  position: absolute;
  left: 0;
  height: 5px;
  background-color: #c1c1c1;
  border-radius: 50px;
}




/* Utility */
.d-flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.justify-end{
 justify-content: end;
}

.align-center{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.relative{
  position: relative;
  height: 100%;
}




/* TOP */
#top{
  position: relative;
}



/* upgrade */
#top .upgrade{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw - 250px);
  height: 100px;
  background-color: #080b12e6;
}

#top .upgrade a{
  color: white;
}



/* left */
#top .left{
  width: 250px;
  height: calc(100vh - 100px);
  background-color: #000000;
}

#top .left .logo-2{
  display: none;
}

#top .left .add-btn span,
#top .left .add-btn .btn{
  display: inline-block;
  font-size: 15px;
  color: #a3a3a3;
  cursor: pointer;
}

#top .left .add-btn .btn{
  background-color: #a3a3a3;
}

#top .left .add-btn .btn i{
  font-size: 18px;
  padding: 8px;
  color: white;
  filter: invert(1);
}

#top .left .bottom{
  position: absolute;
  bottom:0;
  width: 100%;
  background-color: #000000;
}

#top .left .install{
  border-bottom: 1px solid #7a7d81;
}



/* content */
#top .content{
  width: calc(100vw - 250px);
  height: calc(100vh - 100px);
  padding: 100px 10px 10px 10px;
  background-color: #141922;
  overflow: scroll;
}

#top .content li{
  padding: 25px 15px;
}

#top .content h2,
#top .content h3{
  margin-bottom: 10px;
}

#top .content .title{
  padding: 20px 10px;
}

#top .col{
  width: calc(100% / 6);
  padding: 10px;
}

#top .col .card{
  text-align: center;
}

#top .popular .card img{
  border-radius: 50%;
}




/* BOTTOM */
#bottom{
  position: relative;
  width: 100vw;
  height: 100px;
  background-color: #282828;
}

#bottom .left{
  width: 25vw;
}

#bottom img{
  width: 50px;
}

#bottom .left i{
  color: #7a7d81;
}

#bottom .center .top,
#bottom .center .bottom{
  height: 50%;
  width: 50vw;
}

#bottom .center .line{
  width: 500px;
}

#bottom .center .line-white{
  width: 20%;
}

#bottom .time{
  font-size: 10px;
  padding: 20px;
  color: #ffffff;
}

#bottom .right{
  width: 25vw;
}

#bottom .right .line{
  width: 120px;
}

#bottom .right .line-white{
  width: 20%;
}




/* RESPONSIVE */
@media screen and (max-width:1200px){
  
}

@media screen and (max-width:992px){
  #top .col{
    width: calc(100% / 4);
  }
}

@media screen and (max-width:768px){
  #top .col{
    width: calc(100% / 2);
  }
}

@media screen and (max-width:576px){
  #top .upgrade{
    width: calc(100vw - 60px);
  }
  #top .left{
    width: 60px;
  }
  #top .content{
    width: calc(100vw - 60px);
  }
  #top .left .logo-1{
    display: none;
  }
  #top .left .logo-2{
    display: block;
  }
  #top .left .text{
    display: none;
  }
  #top .left .playlist{
    display: none;
  }
}

@media screen and (max-height:350px){
  #top .left .bottom{
    display: none;
  }
}