*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(0, 145, 255, 0.517);
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}



/* TOP */
#top{
  position: relative;
}

/* upgrade */
#top .upgrade{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw - 250px);
  height: 100px;
}

/* left */
#top .left{
  width: 250px;
  height: calc(100vh - 100px);
}

/* content */
#top .content{
  width: calc(100vw - 250px);
  height: calc(100vh - 100px);
  padding-top: 100px;
  overflow: scroll;
}

#top .col{
  width: calc(100% / 6);
  height: 200px;                            /*debug*/
}




/* BOTTOM */
#bottom{
  width: 100vw;
  height: 100px;
}




/* RESPONSIVE */
@media screen and (max-width:1200px){
  
}

@media screen and (max-width:992px){
  #top .col{
    width: calc(100% / 4);
  }
}

@media screen and (max-width:768px){
  #top .col{
    width: calc(100% / 2);
  }
}

@media screen and (max-width:576px){
  #top .upgrade{
    width: calc(100vw - 60px);
  }
  #top .left{
    width: 60px;
  }
  #top .content{
    width: calc(100vw - 60px);
  }
}